<?php
/*
 * (c) Nicolas Bouillon
 * Ce fichier est distribué selon la licence GNU GPL.
 */
$GLOBALS["dbhost"] = "hote_basedonnee";
$GLOBALS["dbname"] = "nom_base";
$GLOBALS["dbuser"] = "nom_utilisateur";
$GLOBALS["dbpass"] = "mot_de_passe";
$GLOBALS["dbtype"] = "nom_server_base_donnee"; // "mysql", "postgres", "..." 
?>
