Order Deny,Allow
Allow From All 

AddDefaultCharset utf-8

DirectoryIndex index.php
ErrorDocument 404 /index.php?page=404

<IfModule mod_php4.c>
	php_value arg_separator.output "&amp;"
</IfModule>

RewriteEngine On
RewriteRule ^([a-zA-Z0-9\-_]*).html$ /absolute/path/to/falstelo/index.php?page=$1 [L,QSA]
