Order Deny,Allow
Allow From All 

AddDefaultCharset UTF-8

DirectoryIndex index.php

<IfModule mod_php4.c>
	php_value arg_separator.output "&amp;"
</IfModule>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-F
RewriteRule ^([a-zA-Z\.0-9\/\-_]*).html$ /absolute/path/to/falstelo/index.php?page=$1 [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-F
RewriteRule ^([a-zA-Z\.0-9\/\-_]*)$ /absolute/path/to/falstelo/index.php?page=404&erreur=$1 [L,QSA]
